<div id="boxgallery" class="boxgallery" data-effect="effect-1">
	<div class="bgpanel"><%= image_tag("1.jpg", alt: "Beach") %></div>
	<div class="bgpanel"><%= image_tag("2.jpg", alt: "Beach") %></div>
	<div class="bgpanel"><%= image_tag("3.jpg", alt: "Beach") %></div>
	<div class="bgpanel"><%= image_tag("4.jpg", alt: "Beach") %></div>
</div>

<div class="homebox">
	<h1>Foreign Savvy <span>travel more, spend less</span></h1>
	<div>
		<a href="index.html">Tourism</a>
		<a href="index2.html">Business</a>
		<a href="index3.html">THow it Works</a>
	</div>
</div>

<script>
	new BoxesFx( document.getElementById( 'boxgallery' ) );
</script>