<div class="terms">
<h1>Privacy Policy</h1>
<br>
<div>

<h2>
	A. Policy Statement
</h2>
<p>
	FOREIGN SAVVY Corporation respects customer privacy and is committed to protecting it. Customers can visit most pages on the FOREIGN SAVVY website and mobile applications—and use all of the currency tools located on our site—without identifying themselves or providing any personal or financial information. The purpose of FOREIGN SAVVY’s Privacy Policy is to explain FOREIGN SAVVY’s privacy policy and practices and how customer Personal Information is collected, used, disclosed and maintained. 
</p>

<h2>
	B. Categories of Personal Information FOREIGN SAVVY Collects
</h2>
<p>
	FOREIGN SAVVY collects Personal Information about our customers from the following sources:<br><br>

Account Application Forms and other documents and data submitted by customers, such as customer name, residential address,  government issued ID numbers (such as social security numbers), date of birth, employment information, investment experience, annual income, and estimated net worth;<br>
Customer Transactions with FOREIGN SAVVY such as account deposits and withdrawals that require customers to provide bank account information;<br>
Consumer Reports and other information FOREIGN SAVVY receives from third party agencies;
Communications with FOREIGN SAVVY customer service representatives; and<br>
“Cookies” described in section J below.<br><br>
FOREIGN SAVVY will not collect more Personal Information than is required to open and operate customers’ accounts, and to comply with regulatory obligations. 
</p>

<h2>
	C. How FOREIGN SAVVY Uses Customer Personal Information
</h2>
<p>
	FOREIGN SAVVY may use Personal Information as necessary to:<br>

	positively identify and determine eligibility of customers opening accounts;<br>
	evaluate whether currency trading is suitable for each customer;<br>
	complete bank deposits and withdrawals,<br>
	effect, administer or enforce transactions requested or authorized by the customer, and<br>
	maintain or service the customer’s account with FOREIGN SAVVY.<br><br>
	Personal Information collected online may be combined with other information customers provide to FOREIGN SAVVY in hard copy or through the FOREIGN SAVVY help desk. FOREIGN SAVVY will not use or disclose or sell, rent or lease any Personal Information about its customers or former customers to any third parties except as stated in this Policy. Personal Information may be transferred across national borders for the purposes of data consolidation, storage and customer data management. 
</p>

<h2>
	D. Disclosure of Customer Personal Information
</h2>
<p>
	FOREIGN SAVVY may disclose Personal Information of current and former customers to affiliated and non-affiliated third party entities in the following cases:<br><br>

	to FOREIGN SAVVY’s business partners that perform services on FOREIGN SAVVY’s behalf under written agreements which restrict use of  Personal Information to the limited purposes for which it is provided to them and to refrain from further use or disclosure except as permitted by law;<br>
	to FOREIGN SAVVY affiliates, who are permitted to disclose and use the information only to the extent that FOREIGN SAVVY may disclose and use the information under this Policy;<br>
	in the ordinary course of business to FOREIGN SAVVY’s attorneys, accountants and auditors;<br>
	to persons holding a legal or beneficial interest relating to the customer’s account;<br>
	to persons acting in a fiduciary, representative, or attorney capacity in relation to an account;<br>
	to protect against actual or potential fraud, unauthorized transactions, claims or other liability;<br>
	to government, regulatory or law enforcement agencies to the extent permitted or required by law, or to comply with applicable legal requirements; or<br>
	to comply with civil, criminal or regulatory investigations, or judicial process, subpoena, summons or warrant by federal, state or local authorities.
</p>

<h2>
	E. Permission to Disclose Personal Information
</h2>
<p>
	Except as stated in this Privacy Policy, FOREIGN SAVVY will not share Personal Information about any present or former customer with any non-affiliated third party without the customer’s prior written consent or providing the customer with a clear notice, an opportunity to “opt out” of that disclosure, and information on how to opt out.
</p>

<h2>
	F. Procedures to Safeguard Personal Information
</h2>
<p>
	FOREIGN SAVVY has implemented procedures to safeguard customer Personal Information. FOREIGN SAVVY restricts access to Personal Information to those FOREIGN SAVVY employees who need to know that information in order to provide our products or services to them. FOREIGN SAVVY maintains physical, electronic and procedural safeguards to safeguard Personal Information. FOREIGN SAVVY protects customer account information by keeping it on the secure portion of its website, using firewalls and other security technology to protect its network and systems from external attacks. FOREIGN SAVVY conducts periodic internal audits of its business practices and procedures, examining its confidentiality standards and information access, in order to best protect our customers’ Personal Information.
</p>

<h2>
	G. Retention of Personal Information
</h2>
<p>
	FOREIGN SAVVY only keeps Personal Information on file for as long as it is required to provide customers with products and services, and to meet legal requirements. When FOREIGN SAVVY no longer needs the Personal Information, it is either destroyed or made anonymous.
</p>

<h2>
	H. Accuracy
</h2>
<p>
	FOREIGN SAVVY attempts to ensure the accuracy of the Personal Information collected. FOREIGN SAVVY records the dates when Personal Information was obtained from customers and will periodically ask customers to review the Personal Information FOREIGN SAVVY has on file and to update any Personal Information that may have changed.
</p>

<h2>
	I. Customer Recourse
</h2>
<p>
	Any concerns a customer may have regarding FOREIGN SAVVY’s privacy practices or specific complaints about how customer Personal Information has been collected, used or disclosed should be forwarded in writing to FOREIGN SAVVY’s Privacy Officer. FOREIGN SAVVY will thoroughly investigate the complaint and will take whatever actions are warranted and notify the customer once this has been done.
</p>

<h2>
	J. Cookies
</h2>
<p>
	FOREIGN SAVVY uses cookies and other tracking mechanisms to: (i) facilitate customer use of our website and mobile applications, (ii) enable customization of our online services and website features, (iii) avoid customer re-entry of data, (iv) store customer preferences for certain kinds of information, and (v) gather data about usage of our website and mobile applications for research and promotions. FOREIGN SAVVY uses cookies from third party service providers to facilitate website tracking. Cookies stored on customers’ web browsers by FOREIGN SAVVY cannot be read by, and are not shared with, any third parties. Customers can configure their browser preferences not to accept these cookies.<br><br>
 
	Some third-party vendors that provide ads on FOREIGN SAVVY web pages may use cookies to collect details on customer website visits and other data (but not names, addresses, email addresses, or telephone numbers) in order to provide ads about goods and services of particular interest to individual customers. For more information on this practice or to opt out, customers can visit the Network Advertising Initiative site at http://www.networkadvertising.org/managing/opt_out.asp or, in the case of Google's DoubleClick DART cookie, by visiting the Google ad and content network privacy policy at http://www.google.com/privacy_ads.html.
</p>

<h2>
	K. Links to non-FOREIGN SAVVY websites
</h2>
<p>
	The FOREIGN SAVVY website may provide links to third-party websites for customer convenience and information. If customers decide to access those links, they will leave the FOREIGN SAVVY website. FOREIGN SAVVY does not control those third-party sites or their privacy practices, which may differ from FOREIGN SAVVY's.  FOREIGN SAVVY does not endorse or make any representations about third-party websites. Any Personal Information customers choose to give to unrelated third parties is not covered by FOREIGN SAVVY’s privacy policy. Customers should review the privacy policy of any third-party website before submitting Personal Information. Some third-party companies may choose to share their personal data with FOREIGN SAVVY. That sharing is governed by the disclosing company's privacy policy.
</p>

<h2>
	L. Notification of Privacy Policy and Policy Changes
</h2>
<p>
	FOREIGN SAVVY provides an initial notice of its Privacy Policy to customers at the time it establishes a customer relationship, and the Privacy Policy is posted on its website.
</p>

<h2>
	M. Contact Us
</h2>
<p>
	FOREIGN SAVVY values its customers’ opinions. If customers have comments or questions about FOREIGN SAVVY’s Privacy Policy, they are invited to contact FOREIGN SAVVY at:<br><br>

	Email: foreignsavvy@gmail.com<br>
</p>

</div>
</div>