<div class="center jumbotron">
  <h1>The Tourist Exchange</h1>

  <h2>
    Get the most out of your currency
  </h2>

  <div id="currencies"><%= render 'currencies' %></div>

  <br>

  <%= link_to 'New Currency', new_currency_path %>
  <br>
  <%= link_to "Sign up for our newsletter", '#', class: "btn btn-large btn-primary" %>
</div>