@import "bootstrap";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgba(90, 90, 90, 1);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: rgba(90, 90, 90, 1);
    text-decoration: none;
  }
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* table */

#currencytable {
  text-align: left;
}


/* tabs */
.tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1em 0 2em;
    font-weight: 300;
}
 
/* Nav */
.tabs nav {
    text-align: center;
}
 
.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
 
.tabs nav ul li {
    border: 1px solid #becbd2;
    border-bottom: none;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;
}
 
.tabs nav li.tab-current {
    border: 1px solid #47a3da;
    box-shadow: inset 0 2px #47a3da;
    border-bottom: none;
    z-index: 100;
}
 
.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: #47a3da;
}
 
.tabs nav li.tab-current:after {
    right: auto;
    left: 100%;
    width: 4000px;
}
 
.tabs nav a {
    color: #becbd2;
    display: block;
    font-size: 1.45em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
}
 
.tabs nav a:hover {
    color: #768e9d;
}
 
.tabs nav li.tab-current a {
    color: #47a3da;
}
 
/* Icons */
.tabs nav a:before {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'FontAwesome';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    margin: -0.25em 0.4em 0 0;
}
 
.icon-food:before {
    content: "\f154";
}
 
.icon-lab:before {
    content: "\f158";
}
 
.icon-cup:before {
    content: "\f153";
}
 
.icon-truck:before {
    content: "\f157";
}
 
.icon-shop:before {
    content: "\f155";
}
 
/* Content */
.content section {
    font-size: 1.25em;
    padding: 3em 1em;
    display: none;
    max-width: 1230px;
    margin: 0 auto;
}
 
.content section:before,
.content section:after {
    content: '';
    display: table;
}
 
.content section:after {
    clear: both;
}
 
/* Fallback example */
.no-js .content section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid #47a3da;
}
 
.content section.content-current {
    display: block;
}
 
/* Example media queries */
 
@media screen and (max-width: 52.375em) {
    .tabs nav a span {
        display: none;
    }
 
    .tabs nav a:before {
        margin-right: 0;
    }
}
 
@media screen and (max-width: 32em) {
  .tabs nav ul,
  .tabs nav ul li a {
      width: 100%;
      padding: 0;
  }

  .tabs nav ul li {
      width: 20%;
      width: calc(20% + 1px);
      margin: 0 0 0 -1px;
  }

  .tabs nav ul li:last-child {
      border-right: none;
  }
}

/* background */
.cbp-bislideshow {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
}
 
.cbp-bislideshow li {
    position: absolute;
    background-position: center;
    width: 101%;
    height: 101%;
    top: -0.5%;
    left: -0.5%;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
 
/* If background-size supported we'll add the images to the background of the li */
 
.backgroundsize .cbp-bislideshow li {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}
 
/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
    display: none;
}
 
.cbp-bislideshow li img {
    display: none;
}


/* grid */
.grid-wrap {
  clear: both;
  margin: 0 auto;
  padding: 0;
  max-width: 1260px;
  text-align: center;
}

.grid {
  margin: 30px auto;
  padding: 0;
  list-style: none;
  min-height: 500px;
}

.js .grid {
  background: url(loading.gif) no-repeat 50% 100px;
}

.js .grid.loaded {
  background: none;
}

.grid li {
  display: inline-block;
  overflow: hidden;
  width: 314px;
  text-align: left;
  vertical-align: top;
}

.js .grid li {
  display: none;
  float: left;
}

.js .grid.loaded li {
  display: block;
}

/* Title box */
.title-box h2 {
  display: block;
  margin: 7px;
  padding: 20px;
  background: #2E3444;
  color: #D3EEE2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.title-box h2 a {
  display: block;
  font-weight: 900;
}

.title-box h2 a:hover {
  color: #D3EEE2;
}

/* Anchor and image */
.grid li > a,
.grid li img {
  display: block;
  outline: none;
  border: none;
}

.grid li > a {
  position: relative;
  overflow: hidden;
  margin: 7px;
}

/* Curtain element */
.grid .curtain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #96cdc8;
}

.grid.swipe-right .curtain {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.grid.swipe-down .curtain {
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.grid.swipe-rotate .curtain {
  width: 200%;
  height: 200%;
  -webkit-transform: rotate3d(0,0,1,90deg);
  transform: rotate3d(0,0,1,90deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

/* Shadow */
.grid .curtain::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  content: '';
}

.grid.swipe-right .curtain::after,
.grid.swipe-rotate .curtain::after {
  left: -100%;
}

.grid.swipe-down .curtain::after {
  top: -100%;
}

/* Title */
.grid li h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  width: 100%;
  background: #2E3444;
  color: #D3EEE2;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1em;
  -webkit-transition: -webkit-transform 0.2s, color 0.2s;
  transition: transform 0.2s, color 0.2s;
}

/* Pseudo element for hover effect */
.grid li > a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100.5%;
  height: 100.5%;
  border: 0px solid transparent;
  background: rgba(0,0,0,0);
  content: '';
  -webkit-transition: border-width 0.2s, border-color 0.2s;
  transition: border-width 0.2s, border-color 0.2s;
}

/* Hover effects */
.grid li.shown:hover h3 {
  color: #fff;
  -webkit-transform: translate3d(0,-30px,0);
  transform: translate3d(0,-30px,0);
}

.grid li.shown:hover > a::before {
  border-width: 14px;
  border-color: #2E3444;
}

/* Animations */

/* Swipe right */
.grid.swipe-right li.animate .curtain {
  -webkit-animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
  animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeRight {
  0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
  50%, 60% { -webkit-transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(100%,0,0); }
}

@keyframes swipeRight {
  0% {}
  50%, 60% { -webkit-transform: translate3d(0,0,0); transform: translate(0); }
  100% { -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); }
} 

/* Swipe down */
.grid.swipe-down li.animate .curtain {
  -webkit-animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
  animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeDown {
  0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
  50%, 60% { -webkit-transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(0,100%,0); }
}

@keyframes swipeDown {
  0% {}
  50%, 60% { -webkit-transform: translate(0); transform: translate(0); }
  100% { transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
}

/* Swipe rotate */
.grid.swipe-rotate li.animate .curtain {
  -webkit-animation: swipeRotate 1.5s ease forwards;
  animation: swipeRotate 1.5s ease forwards;
}

@-webkit-keyframes swipeRotate {
  0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
  50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); }
  100% { -webkit-transform: rotate3d(0,0,1,-90deg); }
}

@keyframes swipeRotate {
  0% {}
  50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); transform: rotate3d(0,0,1,0deg); }
  100% { -webkit-transform: rotate3d(0,0,1,-90deg); transform: rotate3d(0,0,1,-90deg); }
}

/* Shadow */
.grid li.animate .curtain::after {
  -webkit-animation: fadeOut 1.5s ease forwards;
  animation: fadeOut 1.5s ease forwards;
  -webkit-animation-delay: inherit;
  animation-delay: inherit;
}

@-webkit-keyframes fadeOut {
  0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
  50%, 60% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeOut {
  0% {}
  50%, 60% { opacity: 1; }
  100% { opacity: 0; }
}

/* Hide image and title and show at half time */
.js .grid li img,
.js .grid li h3 {
  visibility: hidden;
}

.grid li.animate img,
.grid li.animate h3 {
  -webkit-animation: showMe 1.5s step-end forwards;
  animation: showMe 1.5s step-end forwards;
}

@-webkit-keyframes showMe {
  from { visibility: hidden; }
  60%, 100% { visibility: visible; }
}

@keyframes showMe {
  from { visibility: hidden; }
  60%, 100% { visibility: visible; }
}

.grid li.shown img,
.grid li.shown h3 {
  visibility: visible;
}


/* morphing buttons */
/* Morph Button: Default Styles */

.morph-button {
  position: relative;
  display: block;
  margin: 0 auto;
}

.morph-button > button {
  position: relative;
  padding: 0 1em;
  border: none;
  background-color: #e85657;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 80px;
  overflow: hidden;
}

.morph-button.open > button {
  pointer-events: none;
}

.morph-content {
  pointer-events: none;
}

.morph-button.open .morph-content {
  pointer-events: auto;
}

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
  width: 200px;
  height: 80px;
}

.morph-button-fixed > button {
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.1s 0.5s;
  transition: opacity 0.1s 0.5s;
}

.morph-button-fixed.open > button {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.morph-button-fixed .morph-content {
  position: fixed;
  z-index: 900;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-fixed.open .morph-content {
  opacity: 1;
}

.morph-button-fixed .morph-content > div {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
  transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-button-fixed.open .morph-content > div {
  visibility: visible;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.morph-button-fixed.active > button {
  z-index: 2000;
}

.morph-button-fixed.active .morph-content {
  z-index: 1900;
}

/* Transitions for overlay button and sidebar button */
.morph-button-overlay .morph-content {
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

.morph-button-overlay.open .morph-content {
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; 
}

/* Morph Button Style: Overlay */
.morph-button.morph-button-overlay {
  margin: 50px auto;
}

.morph-button-overlay .morph-content {
  overflow: hidden;
  background: #e85657;
}

.morph-button-overlay.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
}

/* Morph Button Style: Modal */
.morph-button-modal::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none;
  -webkit-transform: translateZ(0px);
}

.morph-button-modal.open::before {
  opacity: 1;
  pointer-events: auto;
}

.morph-button-modal.active::before {
  z-index: 1800;
}

.morph-button-modal .morph-content {
  overflow: hidden;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-modal.open .morph-content {
  top: 50% !important;
  left: 50% !important;
  margin: -210px 0 0 -300px;
  width: 600px;
  height: 420px;
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* Colors and sizes for individual modals */
.morph-button.morph-button-modal-1 {
  float: center;
}

.morph-button-modal-1 > button,
.morph-button-modal-1 .morph-content {
  background-color: #553445;
}

.morph-button-modal-1::before {
  background: rgba(240,221,204,0.7);
}

/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content {
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Helper classes */
.noscroll {
  overflow: hidden;
}

.morph-button-overlay.scroll .morph-content {
  overflow-y: scroll;
}

/* No JS fallback: let's hide the button and show the content */
.no-js .morph-button > button {
  display: none;
}

.no-js .morph-button {
  margin: 10px 0;
  float: none;
}

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
  position: relative;
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: auto;
  left: auto;
  -webkit-transform: none;
  transform: none;
  pointer-events: auto;
}

.no-js .morph-button .morph-content .icon-close {
  display: none;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .morph-button-modal.open .morph-content {
    top: 0% !important;
    left: 0% !important;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  }
}

@media screen and (max-width: 400px) {
  .morph-button-fixed,
  .morph-button-fixed .morph-content {
    width: 200px;
    height: 80px;
  }

  .morph-button-fixed > button {
    font-size: 75%;
  }
}

/* morph button content */

.icon-close {
  z-index: 100;
  display: block;
  overflow: hidden;
  width: 3em;
  height: 4em;
  text-align: center;
  line-height: 3;
  cursor: pointer;
  margin: 0 auto;

}

.icon:before {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'FontAwesome';
  font-size: 2em;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close::before {
  content: "\f1d8";
  color: lightblue;
}

.icon-close:hover {
  color: #a50a05;
}

/* Styles for content */
/* Style for overlay */

.content-style-overlay {
  padding: 100px 50px;
  text-align: center;
}

.content-style-overlay h2 {
  margin: 0 0 1em 0;
  padding: 0;
  font-weight: 300;
  font-size: 3em;
}

.content-style-overlay p {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 700px;
  text-align: justify;
  font-weight: 300;
  font-size: 1.5em;
}

.content-style-overlay .icon-close {
  border: 2px solid #f9e1c9;
  border-radius: 50%;
  line-height: 2.8;
}

.content-style-overlay .icon-close:hover {
  border-color: #a50a05;  
}

/* Style for text modal */
.content-style-text {
  padding: 60px;
  text-align: left;
}

.content-style-text h2 {
  margin: 0 0 0.5em 0;
  font-weight: 300;
  font-size: 1.85em;
  color: #fefefe;
}

.content-style-text p {
  color: rgba(255,255,255,0.5);
  font-weight: 300;
  font-size: 1.15em;
  line-height: 1.4;
}

.content-style-text label {
    padding: 10px;
    color: #f9e1c9;
    font-weight: bold;
}

.content-style-text .icon-close {
  top: 0;
  right: 0;
  color: rgba(0,0,0,0.2);
}

.content-style-text .icon-close:hover {
  color: #f9e1c9;
}


@media screen and (max-width: 770px) {
  .content-style-overlay {
    font-size: 75%;
  }

  .content-style-overlay .icon-close {
    top: 5px;
    right: 5px;
  }
}


/* more custom */

#maindisplay {
  background-color: rgba(233,222,222,0.7);
}

/* order-column highlight */
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3 {
  background-color: #f9f9f9;
}

