@import "bootstrap";

@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/FiraSans-Hair.eot');
    src: local('Fira Sans Hair'),
         url('/assets/FiraSans-Hair.eot') format('embedded-opentype'),
         url('/assets/FiraSans-Hair.woff') format('woff'),
         url('/assets/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/FiraSans-UltraLight.eot');
    src: local('Fira Sans UltraLight'),
         url('/assets/FiraSans-UltraLight.eot') format('embedded-opentype'),
         url('/assets/FiraSans-UltraLight.woff') format('woff'),
         url('/assets/FiraSans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('/assets/FiraSans-Light.eot') format('embedded-opentype'),
         url('/assets/FiraSans-Light.woff') format('woff'),
         url('/assets/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('/assets/FiraSans-Regular.eot') format('embedded-opentype'),
         url('/assets/FiraSans-Regular.woff') format('woff'),
         url('/assets/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
         url('/assets/FiraSans-Bold.eot') format('embedded-opentype'),
         url('/assets/FiraSans-Bold.woff') format('woff'),
         url('/assets/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


/* universal */
body {
  font-family: 'Fira Sans', sans-serif;
}
textarea {
  resize: vertical;
}

.center {
  text-align: center;
}
.alignleft {
  text-align: left;
}
.bigmacwidth {
  min-width: 100px;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgba(90, 90, 90, 1);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: rgba(90, 90, 90, 1);
    text-decoration: none;
  }
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* table */

#currencytable {
  text-align: left;
}


/* tabs */
.tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1em 0 0;
    font-weight: 300;
}
 
/* Nav */
.tabs nav {
    text-align: center;
}
 
.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
 
.tabs nav ul li {
    border: 1px solid rgba(130, 149, 158, 0.6);
    border-bottom: none;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;
}
 
.tabs nav li.tab-current {
    border: 1px solid rgba(0, 0, 139, 0.4);
    box-shadow: inset 0 2px rgba(0, 0, 139, 0.4);
    border-bottom: none;
    z-index: 100;
}
 
.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: rgba(0, 0, 139, 0.4);
}
 
.tabs nav li.tab-current:after {
    right: auto;
    left: 100%;
    width: 4000px;
}
 
.tabs nav a {
    color: #2D7275;
    display: block;
    font-size: 1.45em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
}
 
.tabs nav a:hover {
    color: #768e9d;
}
 
.tabs nav li.tab-current a {
  color: rgba(1, 97, 55, 0.8);
}
 
/* Icons */
.tabs nav a:before {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'FontAwesome';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    margin: -0.25em 0.4em 0 0;
}
 
.icon-food:before {
    content: "\f154";
}
 
.icon-lab:before {
    content: "\f157";
}
 
.icon-cup:before {
    content: "\f153";
}
 
.icon-truck:before {
    content: "\f157";
}
 
.icon-shop:before {
    content: "\f155";
}
 
/* Content */
.content section {
    font-size: 1.25em;
    padding: 1em 1em 0;
    display: none;
    max-width: 1230px;
    margin: 0 auto;
}
 
.content section:before,
.content section:after {
    content: '';
    display: table;
}
 
.content section:after {
    clear: both;
}
 
/* Fallback example */
.no-js .content section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid darkblue;
}
 
.content section.content-current {
    display: block;
}
 
/* Example media queries */
 
@media screen and (max-width: 52.375em) {
  .tabs nav a span {
      display: none;
  }

  .tabs nav a:before {
      margin-right: 0;
  }
}
 
@media screen and (max-width: 32em) {
  .tabs nav ul,
  .tabs nav ul li a {
      width: 100%;
      padding: 0;
  }

  .tabs nav ul li {
      width: 20%;
      width: calc(20% + 1px);
      margin: 0 0 0 -1px;
  }

  .tabs nav ul li:last-child {
      border-right: none;
  }
}

/* background */
.cbp-bislideshow {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
}
 
.cbp-bislideshow li {
    position: absolute;
    background-position: center;
    width: 101%;
    height: 101%;
    top: -0.5%;
    left: -0.5%;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
 
/* If background-size supported we'll add the images to the background of the li */
 
.backgroundsize .cbp-bislideshow li {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}
 
/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
    display: none;
}
 
.cbp-bislideshow li img {
    display: none;
}


/* grid */
.grid-wrap {
  clear: both;
  margin: 0 auto;
  padding: 0;
  max-width: 1260px;
  text-align: center;
}

.grid {
  margin: 30px auto;
  padding: 0;
  list-style: none;
  min-height: 500px;
}

.js .grid {
  background: url(loading.gif) no-repeat 50% 100px;
}

.js .grid.loaded {
  background: none;
}

.grid li {
  display: inline-block;
  overflow: hidden;
  width: 314px;
  text-align: left;
  vertical-align: top;
}

.js .grid li {
  display: none;
  float: left;
}

.js .grid.loaded li {
  display: block;
}

/* Anchor and image */
.grid li > a,
.grid li img {
  display: block;
  outline: none;
  border: none;
}

.grid li > a {
  position: relative;
  overflow: hidden;
  margin: 7px;
}

/* Curtain element */
.grid .curtain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #96cdc8;
}

.grid.swipe-right .curtain {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.grid.swipe-down .curtain {
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.grid.swipe-rotate .curtain {
  width: 200%;
  height: 200%;
  -webkit-transform: rotate3d(0,0,1,90deg);
  transform: rotate3d(0,0,1,90deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

/* Shadow */
.grid .curtain::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  content: '';
}

.grid.swipe-right .curtain::after,
.grid.swipe-rotate .curtain::after {
  left: -100%;
}

.grid.swipe-down .curtain::after {
  top: -100%;
}

/* Title */
.grid li h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  width: 100%;
  background: rgba(46, 52, 68, 0.85);
  color: #D3EEE2;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1em;
  -webkit-transition: -webkit-transform 0.2s, color 0.2s;
  transition: transform 0.2s, color 0.2s;
}
.grid li:last-child h3 {
  background: rgb(114, 163, 207);
}

/* Pseudo element for hover effect */
.grid li > a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100.5%;
  height: 100.5%;
  border: 0px solid transparent;
  background: rgba(0,0,0,0);
  content: '';
  -webkit-transition: border-width 0.2s, border-color 0.2s;
  transition: border-width 0.2s, border-color 0.2s;
}

/* Hover effects */
.grid li.shown:hover h3 {
  color: #fff;
  -webkit-transform: translate3d(0,-30px,0);
  transform: translate3d(0,-30px,0);
}

.grid li.shown:hover > a::before {
  border-width: 14px;
  border-color: #2E3444;
}

/* Animations */

/* Swipe right */
.grid.swipe-right li.animate .curtain {
  -webkit-animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
  animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeRight {
  0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
  50%, 60% { -webkit-transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(100%,0,0); }
}

@keyframes swipeRight {
  0% {}
  50%, 60% { -webkit-transform: translate3d(0,0,0); transform: translate(0); }
  100% { -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); }
} 

/* Swipe down */
.grid.swipe-down li.animate .curtain {
  -webkit-animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
  animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeDown {
  0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
  50%, 60% { -webkit-transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(0,100%,0); }
}

@keyframes swipeDown {
  0% {}
  50%, 60% { -webkit-transform: translate(0); transform: translate(0); }
  100% { transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
}

/* Swipe rotate */
.grid.swipe-rotate li.animate .curtain {
  -webkit-animation: swipeRotate 1.5s ease forwards;
  animation: swipeRotate 1.5s ease forwards;
}

@-webkit-keyframes swipeRotate {
  0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
  50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); }
  100% { -webkit-transform: rotate3d(0,0,1,-90deg); }
}

@keyframes swipeRotate {
  0% {}
  50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); transform: rotate3d(0,0,1,0deg); }
  100% { -webkit-transform: rotate3d(0,0,1,-90deg); transform: rotate3d(0,0,1,-90deg); }
}

/* Shadow */
.grid li.animate .curtain::after {
  -webkit-animation: fadeOut 1.5s ease forwards;
  animation: fadeOut 1.5s ease forwards;
  -webkit-animation-delay: inherit;
  animation-delay: inherit;
}

@-webkit-keyframes fadeOut {
  0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
  50%, 60% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeOut {
  0% {}
  50%, 60% { opacity: 1; }
  100% { opacity: 0; }
}

/* Hide image and title and show at half time */
.js .grid li img,
.js .grid li h3 {
  visibility: hidden;
}

.grid li.animate img,
.grid li.animate h3 {
  -webkit-animation: showMe 1.5s step-end forwards;
  animation: showMe 1.5s step-end forwards;
}

@-webkit-keyframes showMe {
  from { visibility: hidden; }
  60%, 100% { visibility: visible; }
}

@keyframes showMe {
  from { visibility: hidden; }
  60%, 100% { visibility: visible; }
}

.grid li.shown img,
.grid li.shown h3 {
  visibility: visible;
}


/* morphing buttons */
/* Morph Button: Default Styles */

.morph-button {
  position: relative;
  display: block;
  margin: 0 auto;
}

.morph-button > button {
  position: relative;
  padding: 0 1em;
  border: none;
  background-color: #e85657;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 80px;
  overflow: hidden;
}

.morph-button.open > button {
  pointer-events: none;
}

.morph-content {
  pointer-events: none;
}

.morph-button.open .morph-content {
  pointer-events: auto;
}

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
  width: 200px;
  height: 80px;
}

.morph-button-fixed > button {
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.1s 0.5s;
  transition: opacity 0.1s 0.5s;
}

.morph-button-fixed.open > button {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.morph-button-fixed .morph-content {
  position: fixed;
  z-index: 900;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-fixed.open .morph-content {
  opacity: 1;
}

.morph-button-fixed .morph-content > div {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
  transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-button-fixed.open .morph-content > div {
  visibility: visible;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.morph-button-fixed.active > button {
  z-index: 2000;
}

.morph-button-fixed.active .morph-content {
  z-index: 1900;
}

/* Transitions for overlay button and sidebar button */
.morph-button-overlay .morph-content {
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

.morph-button-overlay.open .morph-content {
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; 
}

/* Morph Button Style: Overlay */
.morph-button.morph-button-overlay {
  margin: 50px auto;
}

.morph-button-overlay .morph-content {
  overflow: hidden;
  background: #e85657;
}

.morph-button-overlay.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
}

/* Morph Button Style: Modal */
.morph-button-modal::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none;
  -webkit-transform: translateZ(0px);
}

.morph-button-modal.open::before {
  opacity: 1;
  pointer-events: auto;
}

.morph-button-modal.active::before {
  z-index: 1800;
}

.morph-button-modal .morph-content {
  overflow: hidden;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-modal.open .morph-content {
  top: 50% !important;
  left: 50% !important;
  margin: -210px 0 0 -300px;
  width: 600px;
  height: 420px;
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* Colors and sizes for individual modals */
.morph-button.morph-button-modal-1 {
  float: center;
}

.morph-button-modal-1 > button {
  background-color: rgba(85, 52, 69, 0.85);
  border: 2px solid rgba(85, 52, 69, 0.2)
}
.morph-button-modal-1 .morph-content {
  background-color: #553445;
}

.morph-button-modal-1::before {
  background: rgba(240,221,204,0.7);
}

/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content {
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Helper classes */
.noscroll {
  overflow: hidden;
}

.morph-button-overlay.scroll .morph-content {
  overflow-y: scroll;
}

/* No JS fallback: let's hide the button and show the content */
.no-js .morph-button > button {
  display: none;
}

.no-js .morph-button {
  margin: 10px 0;
  float: none;
}

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
  position: relative;
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: auto;
  left: auto;
  -webkit-transform: none;
  transform: none;
  pointer-events: auto;
}

.no-js .morph-button .morph-content .icon-close {
  display: none;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .morph-button-modal.open .morph-content {
    top: 0% !important;
    left: 0% !important;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  }
}

@media screen and (max-width: 400px) {
  .morph-button-fixed,
  .morph-button-fixed .morph-content {
    width: 200px;
    height: 80px;
  }

  .morph-button-fixed > button {
    font-size: 75%;
  }
}

/* morph button content */

.icon-close {
  z-index: 100;
  display: block;
  overflow: hidden;
  width: 3em;
  height: 100%;
  text-align: center;
  line-height: 3;
  cursor: pointer;
  margin: -20px auto -20px auto;

}

.icon:before {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'FontAwesome';
  font-size: 3em;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close::before {
  content: "\f0ac";
  color: lightblue;
}

.icon-close:hover {
  color: #a50a05;
}

/* Styles for content */
/* Style for overlay */

.content-style-overlay {
  padding: 100px 50px;
  text-align: center;
}

.content-style-overlay h2 {
  margin: 0 0 1em 0;
  padding: 0;
  font-weight: 300;
  font-size: 3em;
}

.content-style-overlay p {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 700px;
  text-align: justify;
  font-weight: 300;
  font-size: 1.5em;
}

.content-style-overlay .icon-close {
  border: 2px solid #f9e1c9;
  border-radius: 50%;
  line-height: 2.8;
}

.content-style-overlay .icon-close:hover {
  border-color: #a50a05;  
}

/* Style for text modal */
.content-style-text {
  padding: 60px;
  text-align: left;
}

.content-style-text h2 {
  margin: 0 0 0.5em 0;
  font-weight: 300;
  font-size: 1.85em;
  color: #fefefe;
}

.content-style-text p {
  color: rgba(255,255,255,0.5);
  font-weight: 300;
  font-size: 1.15em;
  line-height: 1.4;
}

.content-style-text label {
    padding: 10px;
    color: #f9e1c9;
    font-weight: bold;
}

.content-style-text .icon-close {
  top: 0;
  right: 0;
  color: rgba(0,0,0,0.2);
}

.content-style-text .icon-close:hover {
  color: #f9e1c9;
}


@media screen and (max-width: 770px) {
  .content-style-overlay {
    font-size: 75%;
  }

  .content-style-overlay .icon-close {
    top: 5px;
    right: 5px;
  }
}
/* shrink container for less than  360px */
@media screen and (max-width: 360px) {
  .container {
    padding-left: 0;
    padding-right: 0;  
  }
  #maindisplay {
    margin-left: 9px;
    margin-right: 9px;
  }
  ul.grid, .grid li, .grid li img {
    max-width: 100%;
  }
  .grid li:last-child, .grid li:last-child img {
    height: 100px !important;
  }
  .connect {
    font-size: 1.5em !important;
    a {
      font-size: 1.1em !important;
    }
    .fa-facebook-square {
      font-size: 3em;
    }
    .fa-twitter-square {
      font-size: 3em;
    }
  }

}


/* media query for 4 img grid */
@media screen and (min-width: 1281px) {
  .container {
    width: 1260px;
    padding-left: 0;
    padding-right: 0;
  }

}

/* resize background for social connect tab */
@media screen and (max-width: 991px) {
  .connect {
    width: 100% !important;
  }
}


/* adjust table title */
@media screen and (max-width: 729px) {
  #maindisplay .content section h2 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 388px) {
  #maindisplay .content section h2 {
    font-size: 1em;
  }
}

/* font adjustsments in general */
@media screen and (max-width: 471px) {
  #maindisplay h3 {
    font-size: 1em;
  }
}
@media screen and (max-width: 458px) {
  #maindisplay h1 {
    font-size: 1.5em;
    margin-top: 0;
  }
}
@media screen and (max-width: 259px) {
  .iconright {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .content-style-text {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* more custom */

#maindisplay {
  background-color: rgba(233,222,222,0.7);
  padding: 10px 0 0 0;
  margin-top: 3%;
  margin-bottom: 10%;
  h1 {
    font-weight: 200;
  }
}

table {
  background-color: rgba(170, 174, 184, 0.5);
  thead {
    background-color: rgba(245, 209, 96, 0.5);
  }
}


/* order-column highlight */
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3 {
  background-color: #f9f9f9;
}

/* customize header */
.navbar {
  background-color: rgba(248, 248, 248, 0.6);
  border-color: rgba(90, 90, 90, 0.1);
}
.navbar-brand {
  font-size: 1.5em;
  color: rgb(90, 90, 90) !important;
  font-weight: 300;
}

/* accordion */
#accordion .panel, #accordion .panel .panel-heading {
  background-color: rgba(245, 245, 245, 0.85);
  h4 {
    font-weight: 400;
  }
}

/* buying power popover */
#buyingpower {
  text-align: center;
}
.popover.bottom > .arrow {
  border-bottom-color: #999999 !important;
}

/* connect section */
.connect {
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 2em;
  background-color: rgba(120, 100, 100, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 auto;
  width: 32em;
  font-weight: 300;
  span {
    color: whitesmoke;
    
    padding: 4px;
  }
  .fa {
    vertical-align: middle;
  }
  .fa-facebook-square {
    color: #3B5998;
  }
  .fa-twitter-square {
    color: #55ACEE;
  }
  a {
    font-size: .8em;
  }
}

/* use font awesome plus and minus instead of default */
table.has-columns-hidden > tbody > tr > td > span.responsiveExpander {
    cursor: pointer;
    padding-left: 22px;
}
table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before{
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
    color: #018fe1;
    left: 0;
    top: -3px;
    position: absolute;
}
table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:hover:before, table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:focus:before{
    color: #457886;
}
table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    content: "";
}
table.has-columns-hidden > tbody > tr > td:first-of-type  *{
    position: relative;
}
table.has-columns-hidden > tbody > tr > td > span.responsiveExpander, table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander {
  background: initial;
}

.iconright {
  float: right;
  &.iconup {
    color: rgba(0,128,0,0.7);
    margin-right: 5%;
  }
  &.icondown {
    color: rgba(255,0,0,0.7);
    margin-right: 5%;
  }
}
@media screen and (max-width: 497px) {
  .row-detail .iconup, .row-detail .icondown {
    display: none;
  }
}

#maindisplay h3 {
  font-weight: 300;
}

#maindisplay .content section h2 {
  font-family: sans-serif;
}

tbody {
  font-weight: 400;
}

.subscribe {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.dataTables_filter label {
  float: left;
  font-weight: 300;
}

.glyphicon.glyphicon-search {
  top: 0;
}

.bottom .pagination {
  font-size: 0.8em;
}

div.dataTables_paginate {
  margin-top: -2px;
}

@media screen and (min-width: 541px) {
  .input-group-addon {
    width: auto;
  }
}

.ourchoice {
  color: azure;
  background-color: rgba(172, 63, 142, 0.5);
  width: 200px;
  margin: 10% auto 0 auto;
  border-radius: 6px;
  h1 {
    padding-top: 13px;
    font-size: 32px;
    font-weight: 200;
  }
  span {
    color: coral;
  }
}