<footer class="footer">
  <small>
    by Maurice Cadenhead
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy", about_path %></li>
      <li><%= link_to "Terms", about_path %></li>
    </ul>
  </nav>
</footer>