<footer class="footer">
  <small>
    © Foreign Savvy ™, Inc.
  </small>
  <nav>
    <ul>
      <li><a href="#"><%= t 'contact' %></a></li>
      <li><%= link_to "Privacy", privacy_path %></li>
      <li><%= link_to "Terms", terms_path %></li>
    </ul>
  </nav>
</footer>